/* INICIO FOTOS */

.contenedorFotos-grid {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* FIN FOTOS */