/* SECCION DEL INDEX */

main .container{
    min-height: 80vh;
}
.contenedor__texto{
    justify-content: space-between;
    margin-top: 2rem;
    padding-left: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    p{
        margin: 1rem 0;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        color: #fff;
    }
}

.contenedor__botonPresupuesto{
    margin: 2rem;
    display: flex;
    a{
        text-decoration: none;
        font-size: 1.7rem;
        padding: 1rem 1rem;
        background-color: $box-shadow;
        color: #fff;
    }
    a:hover{
        color: coral;
    }
}

.no-calesita{
    display: none;
}

.fondoIndex{
    background-image: url("../img/fondoIndex.jpg");
    background-size: cover;
}

/* FIN SECCION DEL INDEX */