/* INICIO RESPONSIVE */
/* UTILIZO EN MAX PORQUE YA INICIE EL PROYECTO DE ESTA MANERA */


/* INICIO TRANSFORMACION/TRANSICION */
.contenedorFotos-grid img:hover {
    transform: scale(1.2, 1.2);
    border: solid 1px #000;
    transition: all 1s; }

@media screen and (max-width: 425px){
    .no-calesita {
        display: none;
    }
    .contenedorContacto{
        .contenedorContacto__formulario{ 
            display: flex;
            margin: 0 auto;
            width: 100%;
            flex-direction: column;
            p{
                font-size: 1.5rem;
                text-align: center;
            }
            form{
                font-size: 1rem;
                padding: 0.5rem 0.5rem;
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: stretch;
                flex-direction: column;
                flex-wrap: nowrap;
            }
    
            
        }
        .contenedorContacto__informacionContacto{ 
            justify-content: center;
            
        }
    }
    

    
}

@media screen and (min-width: 768px){
    .contenedorFotos-grid{
        grid-template-columns: repeat(3, auto);
    }
    .navbar a.navbar__logo{
        font-size: 2.4rem;
    }
    .navbar .navbar__list .navbar__link{
        font-size: 1rem;
    }
    .piePagina .piePagina_contenedor{
        flex-wrap: nowrap;
    }
    .contenedorContacto__formulario form{
        padding: 0.5rem 0.5rem;
    }

}

@media screen and (min-width: 1024px){
    .contenedorFotos-grid{
        grid-template-columns: repeat(4, auto);
    }
    .navbar a.navbar__logo{
        font-size: 2.9rem;
    }
    .navbar .navbar__list .navbar__link{
        font-size: 1.2rem;
    }
    
}

@media screen and (min-width: 1440px){
    .contenedorFotos-grid{
        grid-template-columns: repeat(6, auto);
    }

    .contenedorFotos-grid img:hover{
        transform: scale(1.3,1.3);
        
    }
    /* INICIO KEYFRAME DE PRUEBA */
    .prueba_keyframe {
        display: block;
        background: #444ead;
        color: white;
        padding: .2rem .3rem 1rem .3rem;
        position: relative;
        width: 2.1rem;
        border-radius: 2rem 2rem 0 0;
        animation-name: animacion_bichito;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes animacion_bichito{
        0% {
            left: 0;
        }
        10% {
            left: 10%;
            color: #9b59b6;
        }
        20% {
            left: 20%;
            color: white;
        }
        30% {
            left: 30%;
            color: #9b59b6;
        }
        40%{
            left: 40%;
            color: white;
        }
        50% {
            left: 50%;
            color: #9b59b6;
        }
        60% {
            left: 60%;
            color: white;
        }
        70% {
            left: 70%;
            color: #9b59b6;
        }
        80%{
            left: 80%;
            color: white;
        }
        90% {
            left: 90%;
            color: #9b59b6;
        }
        100% {
            left: 97%;
            color: white;
        }
    }
      /* FIN KEYFRAME DE PRUEBA */
}

/* FIN RESPONSIVE */