* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$box-shadow: rgba(0,0,0, .3);
@import "index";
@import "footer";
@import "contacto";
@import "fotos";
@import "servicios";
@import "sobre_mi";
@import "responsive";


ul {
    list-style: none;
}
.navbar-dark {
    background-color: #141E30;
    /* background: linear-gradient(to bottom, #200122, #6f0000); */
    
}
.navbar-brand {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #fff;
}
.nav-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 1rem;
}
main {
    background: linear-gradient(to bottom,#0b8793, #360033);
}



/* INICIO TRANSFORMACION/TRANSICION */

.contenedorFotos-grid img:hover{
    transform: scale(1.5,1.5);
    border: solid 1px #000;
    transition: all 1s;
}

/* FIN TRANSFORMACION/TRANSICION */

.calesita_imagenes {
    justify-content: center;
}


.carousel {
    margin-top: 5rem;
    overflow: hidden;
    border-radius: 45px;
}

.carousel .carousel-indicators li {
    background-color: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel .carousel-indicators li.active {
    background-color: #1989ac;
    
}



.carousel .carousel-arrow.prev {
    left: 3rem;
}

.carousel .carousel-arrow.next {
    right: 3rem;
}